<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:fragment= "navbar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">Task Manager</div>
        <ul class="nav-link">
            <li><a href="http://localhost:8080/homepage">Home</a></li>
            <li><a href="http://localhost:8080/addTask">Add Task</a></li>
            <li><a href="#">About</a></li>
        </ul>

    </nav>
</body>
</html>